header {
    background-color: #FF7F50;
    color: white;
    font-size: x-large;
    font-family: 'Helvetica'; 
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    box-sizing: border-box;
}

.nav-btn{
    background: none;
    border: none;
    color: white;
    margin: 10px;
    font-size: x-large;
    cursor: pointer;
}

.nav-btn:hover{
    color: rgba(255, 255, 255, 0.584);
}